@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  border: none;
  padding: 8px 23px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #0077C0;
}

.home .container .header {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .container .header .logo {
  display: flex;
  gap: 10px;
}
.home .container .header .logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.home .container .header .menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.home .container .header .menu ul {
  display: flex;
  gap: 20px;
}
.home .container .header .menu ul a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.home .container .header .menu .btn-togler {
  display: none;
}
.home .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .container .content .text {
  flex: 1;
}
.home .container .content .text h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 125%;
  color: #000000;
  padding-bottom: 20px;
}
.home .container .content .text p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  padding-bottom: 35px;
}
.home .container .content .imeg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-1 .container .nav {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 70px;
  padding-bottom: 50px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.page {
  background-color: #0077C0;
}
.page .container .item {
  text-align: center;
}
.page .container .item h6 {
  font-size: 16px;
  font-weight: 600;
  color: #FAFAFA;
  padding-top: 80px;
  padding-bottom: 10px;
}
.page .container .item h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.28px;
  color: #FAFAFa;
  padding-bottom: 80px;
}
.page .container .item .iconka {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  gap: 24px;
}
.page .container .item .iconka .icon h5 {
  padding-top: 48px;
  font-size: 24px;
  font-weight: 700;
  color: #FAFAFA;
  padding-bottom: 10px;
}
.page .container .item .iconka .icon p {
  font-size: 16px;
  font-weight: 400;
  color: #FAFAFA;
}

.card .container .item-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10% 0;
}
.card .container .item-2 .card-row h4 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  line-height: 40px;
  padding-bottom: 20px;
}
.card .container .item-2 .card-row span {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
}

.page-2 {
  width: 100%;
  min-height: 100vh;
  background-color: #C7EEFF;
}
.page-2 .container {
  display: flex;
  gap: 50px;
  padding: 50px 0;
}
.page-2 .container .item-row {
  flex: 1;
}
.page-2 .container .item-row h1 {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
  line-height: 40px;
  padding-bottom: 20px;
}
.page-2 .container .item-row p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 30px;
}
.page-2 .container .item-left {
  flex: 1;
  position: relative;
}
.page-2 .container .item-left img {
  position: absolute;
}
.page-2 .container .item-left .row {
  top: 80px;
  left: -100px;
}
.page-2 .container .item-left .left {
  top: -100px;
  right: 30px;
}

.about {
  background-color: #FAFAFA;
}
.about .container .about-text {
  background-color: #FAFAFA;
  padding-top: 50px;
}
.about .container .about-text .testimon {
  text-align: center;
}
.about .container .about-text .testimon h5 {
  font-size: 16px;
  font-weight: 600;
  color: #0077C0;
  padding-bottom: 16px;
}
.about .container .about-text .testimon h2 {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 50px;
}
.about .container .about-text .group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.about .container .about-text .group .group-row {
  background-color: #FFFFFF;
}

.consultant {
  margin: 80px 0;
}
.consultant .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 70px 0;
  background-color: #0077C0;
  max-height: 400px;
}
.consultant .container .consul-text h5 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
}
.consultant .container .consul-text h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  padding-bottom: 30px;
}
.consultant .container .consul-text .button {
  border: none;
  padding: 8px 23px;
  color: #0077C0;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

footer {
  background-color: #1D242B;
  height: 300px;
}
footer .container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .container .foot .foor {
  display: block;
}
footer .container .foot .foor img {
  padding-bottom: 47px;
}
footer .container .foot .foor h5 {
  font-size: n 18px;
  font-weight: 400;
  color: #FAFAFA;
}
footer .container .foot-row {
  display: flex;
  gap: 50px;
}
footer .container .foot-row .company-info h5 {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
  padding-bottom: 20px;
}
footer .container .foot-row .company-info a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 10px;
}
footer .container .foot-row .company-info button {
  display: flex;
  gap: 90px;
  align-items: center;
  padding: 8px 5px;
  padding-right: 50px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: #878282;
}
footer .container .foot-row .company-info button span {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .consultant .container {
    max-height: 100vh;
    flex-wrap: wrap;
  }
  .card .container .item-2 {
    display: flex;
    gap: 30px;
  }
  .card .container .item-2 img {
    max-width: 50%;
  }
}
@media screen and (max-width: 905px) {
  .home .container .header .menu ul {
    display: none;
  }
  .home .container .content .text {
    padding-top: 20%;
  }
  .home .container .content .text h1 {
    font-size: 48px;
  }
  .card .container .item-2 {
    flex-direction: column;
  }
  .card footer .container .foot-row {
    display: hidden;
  }
}
@media screen and (max-width: 760px) {
  .home .container .header .menu ul {
    display: none;
  }
  .home .container .content {
    flex-direction: column-reverse;
  }
  .home .container .content .text {
    padding-top: 20%;
  }
  .home .container .content .text h1 {
    font-size: 48px;
  }
  .page .container .item .iconka {
    flex-direction: column;
  }
  .page-2 .container {
    min-height: 150vh;
    flex-direction: column;
    gap: 0;
  }
  .page-2 .container .item-row {
    padding: 0;
  }
  .page-2 .container .item-left {
    top: -200px;
  }
  .page-2 .container .item-left img .elli {
    max-width: 50%;
    max-height: 50%;
  }
  .about .container .about-text .group {
    display: flex;
    flex-direction: column;
  }
  footer {
    padding: 20px;
  }
  footer .container {
    text-align: center;
    max-width: 400px;
    padding: 10px 0;
    flex-wrap: wrap;
  }
  footer .container .foot-row {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .about .container .about-text .group {
    display: flex;
    flex-direction: column;
  }
  .page-2 .container {
    min-height: 150vh;
    flex-direction: column;
    gap: 0;
  }
  .page-2 .container .item-row {
    padding: 0;
  }
  .page-2 .container .item-left {
    top: -200px;
  }
  .page-2 .container .item-left .elli {
    max-width: 100%;
    max-height: 300px;
  }
  .page-2 .container .item-left .row {
    display: none;
  }
  .page-2 .container .item-left .left {
    top: 30px;
    bottom: 0;
    width: 250px;
    height: 250px;
    left: 20px;
    right: 0;
    -webkit-clip-path: circle(30%);
            clip-path: circle(30%);
  }
  .home .container .header button {
    padding: 3px 10px;
    font-size: 8px;
    cursor: pointer;
    outline: none;
    border-radius: 4px 0 4px 0;
  }
  .home .container .header button :hover {
    background-color: #3d525f;
  }
  .consultant .container img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .consultant .container .consul-text h5 {
    text-align: center;
  }
  .consultant .container .consul-text h2 {
    text-align: center;
    font-size: 16px;
  }
  .consultant .container .consul-text button {
    margin-left: 50px;
  }
}/*# sourceMappingURL=styles.css.map */